<a href="https://colab.research.google.com/github/reidnersousa/Python/blob/main/Machine_learning.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
def escolha_Arquivo(escolha):
    
    switcher ={
        0:"https://raw.githubusercontent.com/mwaskom/seaborn-data/master/iris.csv"   
    }
    return switcher.get(escolha,"escolha invalida")

In [4]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import networkx as nx
import seaborn as sns
from pprint import pprint
from pprint import pprint

url_path =escolha_Arquivo(0) ### escolhe qual datecenter vai puxa o grafo


df = pd.read_csv(url_path )

df.head()

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

In [5]:
display(df)

     sepal_length  sepal_width  petal_length  petal_width    species
0             5.1          3.5           1.4          0.2     setosa
1             4.9          3.0           1.4          0.2     setosa
2             4.7          3.2           1.3          0.2     setosa
3             4.6          3.1           1.5          0.2     setosa
4             5.0          3.6           1.4          0.2     setosa
..            ...          ...           ...          ...        ...
145           6.7          3.0           5.2          2.3  virginica
146           6.3          2.5           5.0          1.9  virginica
147           6.5          3.0           5.2          2.0  virginica
148           6.2          3.4           5.4          2.3  virginica
149           5.9          3.0           5.1          1.8  virginica

[150 rows x 5 columns]

convetendo as variaveis string num inteiro

In [ ]:
df['species']=df['species'].replace('setosa',0)
df['species']=df['species'].replace('versicolor',1)
df['species']=df['species'].replace('virginica',2)

     sepal_length  sepal_width  petal_length  petal_width  species
0             5.1          3.5           1.4          0.2        0
1             4.9          3.0           1.4          0.2        0
2             4.7          3.2           1.3          0.2        0
3             4.6          3.1           1.5          0.2        0
4             5.0          3.6           1.4          0.2        0
..            ...          ...           ...          ...      ...
145           6.7          3.0           5.2          2.3        2
146           6.3          2.5           5.0          1.9        2
147           6.5          3.0           5.2          2.0        2
148           6.2          3.4           5.4          2.3        2
149           5.9          3.0           5.1          1.8        2

[150 rows x 5 columns]

separando as variáveis entre preditores e variável alvo

In [ ]:
y = df['species']
x = df.drop('species',axis = 1)

print("tamanho do database",df.shape,"y tabela so com species",y.shape," tabela sem a coluna species",x.shape)

tamanho do database (150, 5) y tabela so com species (150,)  tabela sem a coluna species (150, 4)

separandos os dados

In [ ]:
from sklearn.model_selection import train_test_split



x_treino, x_teste, y_treino,  y_teste=train_test_split(x,y,test_size=0.30)

Treinando

In [ ]:
from sklearn.ensemble import ExtraTreesClassifier

modelo = ExtraTreesClassifier(n_estimators=100)

modelo.fit(x_treino,y_treino)

resultado = modelo.score(x_teste,y_teste)
print("Acurácia",resultado)

Acurácia 0.9777777777777777

In [ ]:
y_teste[10:30]

15     0
66     1
26     0
102    2
99     1
73     1
34     0
29     0
74     1
62     1
22     0
132    2
146    2
36     0
148    2
64     1
149    2
90     1
112    2
86     1
Name: species, dtype: int64

In [ ]:
x_teste[0:10]

     sepal_length  sepal_width  petal_length  petal_width
107           7.3          2.9           6.3          1.8
58            6.6          2.9           4.6          1.3
6             4.6          3.4           1.4          0.3
139           6.9          3.1           5.4          2.1
56            6.3          3.3           4.7          1.6
28            5.2          3.4           1.4          0.2
123           6.3          2.7           4.9          1.8
49            5.0          3.3           1.4          0.2
98            5.1          2.5           3.0          1.1
45            4.8          3.0           1.4          0.3

In [ ]:
previsoes = modelo.predict(x_teste[0:10])
print(previsoes)

[2 1 0 2 1 0 2 0 1 0]